.nav-item {
  padding: 2px;
  font-size: large;
  color: #fff;
}

body {
  background-image: url(images/stardust.png);
  background-color: black;
  font-family: 'Amita';
}


.navbar {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
}
.navtog{
  background-color: #fff;
  padding: 5px;
  border-radius: 5%;
}
.mar {
  margin-top: 6%;
}

.hero {
  padding: 20px;
}

.hero1 h2,
h3 {
  color: #fff;

}

.hero1 img {
  height: 65%;
  width: 46%;
  border-radius: 50%;
  border-style: groove;
  box-shadow: 0 0 20px 5px rgba(3, 112, 105, 0.92);
  margin-top: 20px;

}

.hero1 h6 {
  display: inline-block;
  margin-top: 4%;
  color: aliceblue;
}

.about {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;

}

.cbody {
  margin-top: 30px;
  margin-bottom: 90px;
}

.projects {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
}

.myDIV p {
  visibility: hidden;

}

.myDIV:hover p {
  visibility: visible;
  opacity: 1;
  color:black;
  font-weight: bold;
}

.myDIV:hover div {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 20px;
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  }

.myDIV img {
  border-radius: 20px;
  aspect-ratio: 3/2;
 }

.myDIV {
  border-radius: 20px;
  margin: 10px;
  
}
.moreinfo{
  margin-bottom: 10%;
}
.moreinfo h4{
  color: #fff;
  font-family: 'Amita';
}
.margin {
  margin-bottom: 5%;
}

.smargin {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.cmargin {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  margin-top: 5%;
}

.carmar{
  height: 75%;
  width: 70%;
  margin-left: 15%;
  
  
}
.cari{
  border-radius: 3%;
}

.cent{
  margin-top: 12%;
  margin-bottom: 10%;
 
}

.bord{
  margin-right: 4%;
}

.but{
  background-color:black ;
  border-radius: 50%;
}

.contact-form {
  background-color: black;
  padding: 20px;
  border-radius: 10px;

}

.contact-form label {
  color: white;
}


.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}


textarea {
  resize: none;
  height: 80px;
  width: 100%;

}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #0ff;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #0ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.btnpad {
  margin: 15px;
  background-color: #0ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  }

.btnpad:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer {
  background-color: black;
  opacity: 0.67;
}

.footer div {
  color: #fff;
}

@media(max-width:630px) {
  .hero img {
    width: 50%;

  }

  .hero h6 {
    display: inline-block;
  }

  .about h4 {
    text-align: center;
  }

  .about li {
    font-weight: bold;
  }

  .contact-form textarea {
    height: 50px;
  }
  
.cent{
  margin-bottom: 2%;
}

}

.glow {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  text-align: center;
  padding: 40px;
}

.white {
  color: #fff;
}